<% layout('layouts/boilerplate') %>


    <div class="row">
        <h1 class="text-center text-white title">Edit Cafe</h1>
            <div class="col-md-6 offset-md-3">
                <form action="/cafes/<%=cafe._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="cafe[name]"  value="<%=cafe.name%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="cafe[location]" value="<%=cafe.location%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="cafe[description]" required><%= cafe.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="image">Add More Images</label>
                            <input type="file" class="form-control" id="image" name="image" multiple>
                          </div>
                          </div>
                          <div class="mb-3">
                            <% cafe.images.forEach(function(img,i) { %>
                                <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                                <div class="form-check-inline">
                                    <input type="checkbox" name="deleteImages[]" value="<%=img.filename%>" id="image-<%=i%>">
                                </div>
                                <label for="image-<%=i%>" class="text-white">Delete</label>
                            <% }) %>    
                          </div>
                    <div class="mb-3">
                    <button class="btn btn-funky-moon text-white">Update Cafe!</button>
                    </div>
                </form>
                <a href="/cafes/<%=cafe._id%>" class="text-white">Back To Cafe</a>
            </div>


        